{%extends 'main/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Main</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/main.css')}}">
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="main">
        <div class="form">
            {{form.csrf_token()}}
            {{form.hidden_tag()}}
            {{form.type_service()}}
            <div id="wrape_select" style="display: inline;">
                {{form.title_service()}}
            </div>
            <div id="wrape_select_service" style="display: inline;">
                {{form.wrape_select_service()}}
            </div><br>
            <p style="font-size: 24px;">цена:</p>
            {{form.start_price()}}
            {{form.end_price()}}
        </div>
        <div id="products_container">
            <div>
                {%for product in products%}
                <a href="{{url_for('main.product',id=product.id)}}">
                    <div class="product_block">
                        <img src="{{url_for('static',filename=product.photo)}}" width="300px" height="200px">
                        <div>
                            <p>{{product.title}}</p><br>
                            <p>цена: {{product.price}} ₽</p><br>
                        </div>
                    </div>
                </a>
                {%endfor%}
            </div>
        </div>
    </div> 
    <script>
        const startPrice = document.getElementById("start_price")
        const endPrice = document.getElementById("end_price")
        const service = document.getElementById("wrape_select_service")
        function generateProduct(select){
            $.ajax({
                    url: "{{url_for('main.get_product_by_price')}}",
                    data: {'start_price':startPrice.value,'end_price':endPrice.value},
                    type: 'GET',
                    success: function(response){
                        const productsContainer = document.querySelector("#products_container")
                        productsContainer.innerHTML = response.products_html
                        let links = productsContainer.getElementsByClassName("link")
                        let photos = productsContainer.getElementsByTagName("img")
                        for (let i = 0; i<links.length;i++){

                            links[i].setAttribute("href",`/product/${response.data[i][0]}/`)
                            photos[i].setAttribute("src",`/static/${response.data[i][1]}`)
                        }
                        console.log(response.data)
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
        }

        function getWrapeSelect(select){
            let dataSelect = select.value
            $.ajax({
                    url: "{{url_for('main.main_get_wrape_form')}}",
                    data: {'data':dataSelect},
                    type: 'GET',
                    success: function(response){
                        let wrape_select = document.getElementById("wrape_select")
                        wrape_select.innerHTML = response.wrape_select
                        let wrape_select_service = document.getElementById("wrape_select_service")
                        wrape_select_service.innerHTML = response.wrape_select_service
                        const productsContainer = document.querySelector("#products_container")
                        productsContainer.innerHTML = response.products_html
                        let links = productsContainer.getElementsByClassName("link")
                        let photos = productsContainer.getElementsByTagName("img")
                        for (let i = 0; i<links.length;i++){

                            links[i].setAttribute("href",`/product/${response.data[i][0]}/`)
                            photos[i].setAttribute("src",`/static/${response.data[i][1]}`)
                        }
                        console.log(response.data)
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
        }
        function getWrapeSelectService(select){
            let dataSelect = select.value
            $.ajax({
                    url: "{{url_for('main.main_get_wrape_service_form')}}",
                    data: {'data':dataSelect},
                    type: 'GET',
                    success: function(response){
                        let data = document.getElementById("wrape_select_service")
                        data.innerHTML = response.wrape_select_service
                        const productsContainer = document.querySelector("#products_container")
                        productsContainer.innerHTML = response.products_html
                        let links = productsContainer.getElementsByClassName("link")
                        let photos = productsContainer.getElementsByTagName("img")
                        for (let i = 0; i<links.length;i++){

                            links[i].setAttribute("href",`/product/${response.data[i][0]}/`)
                            photos[i].setAttribute("src",`/static/${response.data[i][1]}`)
                        }
                        console.log(response.data)
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
        }  
    </script>
    {% endblock %}
</body>
</html>