{%extends 'main/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {%block head%}
    <title>Message</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.7.5/socket.io.min.js"></script>
    <link rel="stylesheet" href="{{url_for('static',filename='css/message.css')}}">
    {%endblock%}
</head>`
<body>
    {%block header%}
    <div id="message_container">
        {%for message in messages%}
        {%if current_user.id == message.user%}
        <div class="current_user_message">
            {{message.message}}
        </div>
        {%else%}
        <div class="message">
            {{message.message}}
        </div>
        {%endif%}
        {%endfor%}
    </div>
    {{form.message()}}
    <input type="submit" value="send" id="send_message">
    <script>
        const socket = io();
        const messageInput = document.getElementById("message");
        const sendMessage = document.getElementById("send_message");
        const messageContainer = document.getElementById("message_container")
        sendMessage.addEventListener("click",function(){
            socket.emit("send_message",message=messageInput.value,chat_id="{{chat_id}}",user_id="{{current_user.id}}")
        })
        socket.on('sucess', function(data) {
            console.log(data);
            messageInput.value = ''
            const message = document.createElement("p")
            message.textContent = data.data
            if (data.user_id == "{{current_user.id}}"){
                console.log(123)
                message.setAttribute("class","current_user_message")
            }else{
                message.setAttribute("class","message")
            }
            messageContainer.appendChild(message)
        });
    </script>
    {%endblock%}
</body>
</html>