<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login Admin</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/auth.css')}}">
</head>
<body>
    <div class="main">
        <form action="{{url_for('admin.login')}}" method="post" novalidate>
            {{form.hidden_tag()}}
            {{form.csrf_token()}}
            {{form.name}}
            {{form.password}}
            <input type="submit" value="sign in">
        </form>
        {%with messages = get_flashed_messages()%}
        {{messages[0]}}
        {%endwith%}
    </div>

</body>
</html>