{%extends 'profile/basic.html'%}
<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    <title>Product</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/user_product.css')}}">
    {% endblock %}
</head>
<body>
    {% block header %}
    <div class="body">
        <div class="main">
            <div>
                <img src="{{url_for('static',filename=current_product[0][0].photo)}}" width="300px" height="200px">
                <div id="block_data">
                    {%if current_user.id == current_product[0][0].user%}
                    <div>
                        <button id="update_product_button" onclick="updateForm()">изменить</button>
                        <form action="{{url_for('profile.user_product',id=current_product[0][0].id)}}" method="post" novalidate style="display: none;" id="update_product">
                            {{form.hidden_tag()}}
                            {{form.csrf_token()}}
                            {{form.title(value=current_product[0][0].title)}}
                            {{form.info()}}
                            {{form.price(value=current_product[0][0].price)}}
                            <div>
                                {{form.type_service()}}
                                <div id="wrape_select" style="display: inline;">
                                    {{form.title_service()}}
                                </div>
                                <div id="wrape_select_service" style="display: inline;">
                                    {{form.wrape_select_service()}}
                                </div>
                            </div>
                            <input type="submit" value="update">
                        </form>
                    </div>
                    {%endif%}
                    <p>{{current_product[0][0].title}}</p>
                    <p>цена: {{current_product[0][0].price}} ₽</p>
                    <p>Тип: {{current_product[0][2].title_service}}</p>
                    <p>Услуга: {{current_product[0][1].service}}</p>
                    <p id="description">{{current_product[0][0].info}}</p>
                </div>
            </div>
        </div>
    </div>
    <script>
        const description = document.getElementById("description")
        const arrDescription = description.textContent.split(" ")
        let stateDescription = false
        const descriptionButton = document.createElement("button")
        descriptionButton.textContent = "Развернуть полностью"
        descriptionButton.setAttribute("onclick","ShowHideDescription()")
        descriptionButton.setAttribute("id","descriptionButton")
        const info = document.getElementById("info")
        info.textContent = "{{current_product[0][0].info}}"
        const updateProductButton = document.getElementById("update_product_button")
        let stateUpdateProduct = false
        const updateProductForm = document.getElementById("update_product")

        if (description.textContent.length > 30){
            description.textContent = ""
            for(let i = 0;i<=3;i++){
                description.textContent += arrDescription[i] + " "
            }
            description.textContent += "..."
            const blockData = document.getElementById("block_data")
            blockData.appendChild(descriptionButton)
        }
        function ShowHideDescription(){
            if (stateDescription){
                descriptionButton.textContent = "Развернуть полностью"
                stateDescription = false
                description.textContent = ""
                for(let i = 0;i<=3;i++){
                    description.textContent += arrDescription[i] + " "
                }
            }else{
                descriptionButton.textContent = "Скрыть"
                stateDescription = true
                description.textContent = ""
                arrDescription.forEach((elem) => description.textContent += elem + " ")
            }
            
            
        }


        function getWrapeSelect(select){
            let dataSelect = select.value
            $.ajax({
                    url: "{{url_for('profile.get_wrape_form',id=current_product[0][0].id)}}",
                    data: {'data':dataSelect},
                    type: 'GET',
                    success: function(response){
                        let wrape_select = document.getElementById("wrape_select")
                        wrape_select.innerHTML = response.wrape_select
                        let wrape_select_service = document.getElementById("wrape_select_service")
                        wrape_select_service.innerHTML = response.wrape_select_service
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
        }
        function getWrapeSelectService(select){
            let dataSelect = select.value
            $.ajax({
                    url: "{{url_for('profile.get_wrape_service_form',id=current_product[0][0].id)}}",
                    data: {'data':dataSelect},
                    type: 'GET',
                    success: function(response){
                        let data = document.getElementById("wrape_select_service")
                        data.innerHTML = response.wrape_select_service
                    },
                    error: function(error){
                        console.log(error);
                    }
                });
        }

        function updateForm(){
            
            if (stateUpdateProduct){
                updateProductButton.textContent = "изменить"
                stateUpdateProduct = false
                updateProductForm.style.display = "none"
            }else{
                updateProductButton.textContent = "отмена"
                stateUpdateProduct = true
                updateProductForm.style.display = "flex"
                updateProductButton.style.position = "fixed"
                updateProductButton.style.zIndex = "1"
                updateProductForm.style.zIndex = "0"
                updateProductForm.style.position = "fixed"
                
            }
        }
    </script>
    {% endblock %}
</body>
</html>