body{
    position: fixed;
}
form{
    margin-bottom: 200px;
    display: flex;
    padding: 10px 5px;
    flex-direction: column;
}
form>*{
    font-size: 24px;
    margin-top: 10px;
}
form>div>select{
    font-size: 20px;
}
form>div>div>select{
    font-size: 20px;
}