*{box-sizing: border-box;}
html,body{
    margin: 0;
    width: 100%;
    height: 100%;
}
a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #B80028;
}
input{
    font-size: 22px;
    border-radius: 10px;
    background-color: #F2F5ED;
    margin-top:20px;
}
.main{
    margin: 0 auto;
    width: 80%;
    background-color: #F2F5ED;
    padding-top: 50px;
    padding-bottom: 100px;
}
.form{
    margin-bottom: 200px;
    display: flex;
    padding: 10px 5px;
    
}
.form>form{
    position: fixed;
    left:100px;
    background-color: #F2F5ED;
    border-radius: 20px;
    width: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding:30px 20px;
    border: solid 2px black;
}
.form>form>input[type="submit"]{
    align-self: start;
    
}
#update_profile{
    background-color: #F2F5ED;
    border: solid 2px black;
    padding: 10px 20px;
}
.product_block{
    margin: 0 auto;
    display: flex;
    width: 80%;
    justify-content: space-around;
    align-items: center;
    margin-bottom:20px;
    background-color: white;
    border: solid 2px black;
    border-radius: 20px;
}
.product_block>div{
    font-size: 22px;
    display: flex;
    flex-direction: column;
    line-height: 0%;
}

.product_block>div>p:first-child{
    font-weight: bold;
}
button{
    cursor: pointer;
}
