<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="{{url_for('static',filename='css/auth.css')}}">
</head>
<body>
    <div class="main">
        <form action="{{url_for('auth.login')}}" method="post" novalidate>
            {{form.csrf_token()}}
            {{form.hidden_tag()}}
            {{form.name()}}
            {{form.hash_password()}}
            {{form.email()}}
            {{form.phone()}}
            <div>
                {{form.is_customer()}}
                <p style="display: inline;">Вы заказчик?</p>
            </div>
            <input type="submit" value="register">
            {%with messages = get_flashed_messages()%}
            {{messages[0]}}
            {%endwith%}
            <a href="{{url_for('auth.login')}}">login</a>
        </form>
    </div>
</body>
</html>