<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
</head>
<body>
    <form action="{{url_for('auth.register')}}" method="post" novalidate>
        {{form.csrf_token()}}
        {{form.hidden_tag()}}
        {{form.name()}}
        {{form.hash_password()}}
        {{form.email()}}
        {{form.phone()}}
        {{form.is_customer()}}
        <input type="submit" value="register">
    </form>
    {%with messages = get_flashed_messages()%}
    {{messages[0]}}
    {%endwith%}
    <a href="{{url_for('auth.login')}}">login</a>
</body>
</html>